footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 60px;
    box-sizing: border-box;
    text-align: center;
}

footer .sub-title {
    color: grey;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 85px;
}

footer h2 {
    font-size: 36px;
    margin-top: 4px;
    color: #000839;
}

.blog-container {
    margin-top:60px;
    height:300px;
    display: flex;
    justify-content: space-between;
    gap: 31px;
}

.blog-card {
    max-width: 227px;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    padding: 37px 20px 0 24px;
    box-sizing: border-box;
    overflow: hidden;
}

.blog-card .date {
    font-size: 13px;
    color: grey;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.blog-card h3 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 9px;
    color: #000839;
}

.blog-card p {
    font-size: 18px;
    line-height: 28px;
    color: grey;
}

.footer-background {
    position:absolute;
    width: 100%;
    height: 570px;
    background-color: #f8f9fb;
    z-index: -1;
}