.header {
    display: flex;
    height:85px;
    width:1260px;
    max-width: 100%;
    margin:0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header > span {
    height: 100%;
    opacity: 0.5;
    width: 90px;
    text-align: center;
    align-content: center;
    font-size: 28px;
    color: blue;
}
.menu {
    margin:0 auto;
    font-size: 20px;
    height: 100%;
    width: 500px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}
.templates-button {
    height:100%;
    width:170px;
    padding: 15px 0;
    box-sizing: border-box;
}
.templates-button button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    color: blue;
    font-size: 18px;
    cursor:pointer;
}

/*-----------DROPDOWN MENU STYLES----------*/

.dropdown-item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.dropdown-item:hover .arrow {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: lightgrey;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    display: none;      
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    z-index: 10;
}

.dropdown-item:hover .dropdown-menu {
    display: flex;
    opacity: 1;
}

.dropdown-menu li {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    list-style-type: none;
}

.dropdown-menu li a {
    color: #333;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
}

.dropdown-menu li:hover {
    background-color: #f8f9fb;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: blue;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}