.intro {
    display: flex;
    width: 1260px;
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0; 
    align-items: center; 
    gap: 40px; 
}

.intro-left-column {
    flex: 1 1 500px;
    max-width: 600px; 
}

.intro-left-column h1 {
    font-size: 62px;
    line-height: 1.2;
}

.intro-left-column > p {
    margin-top: 27px;
    font-size: 20px;
    line-height: 1.6;
}

.intro-left-column button {
    margin-top: 25px;
    height: 55px;
    width: 165px;
    border-radius: 28px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;
}

.high-quality-div {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    width: 100%;
}

.quality {
    flex: 1 1 200px;
}

.high-quality-div img {
    height: 80px;
}

.high-quality-div h3 {
    margin-top: 18px;
    letter-spacing: 1px;
}

.high-quality-div p {
    margin-top: 15px;
    line-height: 25px;
    word-spacing: 0.8px;
    letter-spacing: 0.7px;
}

.intro-right-column {
    flex: 1 1 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-composition {
    position: relative;
    width: 100%;
    max-width: 615px;
}

.hero-composition img {
    max-width: 615px;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.hero-composition::before {
    content: "";
    position: absolute;
    top: 360px; 
    right: -130px;
    width: 71%; 
    height: 72%;
    background-color: #dae1e7;
    z-index: 0;
}

.quote {
    position: absolute;
    bottom: -20px; 
    left: -30px;
    z-index: 2;
    
    color: white;
    background-color: #000839;
    font-size: 20px;
    padding: 30px;
    line-height: 32px;
    box-sizing: border-box;
    width: 100%;
    max-width: 610px;
    height:285px;
}

.quote h4 {
    padding-top: 20px;
}