* {
    margin: 0;
}
main {
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    background-size: cover;
    padding:0 130px;
}
a {
    text-decoration: none;
    cursor:pointer;
}
button {
    cursor:pointer;
    transform:scale(1);
    transition: transform 0.3s ease;
}
button:hover {
    transform:scale(1.1);
}