.services {
    height: 820px;
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.services-left-column {
    width: 650px;
    height:100%;
    padding-top:85px;
    box-sizing: border-box;
}

.services-left-column .sub-title {
    color: grey;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.services-left-column h2 {
    width:400px;
    font-size: 38px;
    line-height: 43px;
    color: #000839;
}

.services-left-column p {
    width:390px;
    margin-top: 13px;
    font-size: 20px;
    line-height: 1.6;
    color: grey;
}

.service-list {
    padding: 0;
    margin-top: 25px;
    list-style: none;
}

.service-list li {
    font-size: 20px;
    margin-bottom: 6px;
    margin-left:5px;
    color: #333;
    display: flex;
    align-items: center;
}

.service-list li::before {
    content: "✓"; 
    color: blue;
    font-weight: bold;
    margin-right: 15px;
}

.services-left-column button {
    margin-top: 50px;
    height: 55px;
    width: 165px;
    border-radius: 28px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;
}

.services-right-column {
    width: 610px;
    height: 725px;
    position:relative;
    background-color: #e8dcc4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.services-right-column::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -65px; 
    left: -65px;
    width: 54%; 
    height: 53%;
    background-image: radial-gradient(circle, #b0b0b0 2px, transparent 2.5px);
    background-size: 11px 11px; 
}

.services-right-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background {
    position:absolute;
    width:100%;
    height:820px;
    background-color:#f8f9fb;
    z-index: -3 ;
}